@import "reset.css";

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  box-sizing: border-box;
}

#navbar {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  padding: 20px 28px;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

#navbar .logo {
  font-size: 25px;
}

.logo i {
  color: var(--accent-color);
  font-size: 30px;
}

.logo a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}

/* Menu */

#navbar .menu {
  display: flex;
  justify-content: space-around;
}

.menu a {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

.menu a:hover {
  background-color: var(--accent-color);
  border-radius: 8px;
}

/* SNS */

#navbar .sns {
  display: flex;
  flex-direction: row;
  font-size: 17px;
}

.sns i {
  padding: 10px;
  cursor: pointer;
}

/* Toggle Button */
.toggleBtn {
  display: none;
}

/* Small Screen */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .sns {
    display: none;
  }

  .toggleBtn {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
  }
}
